05_TypeScript/catch_the_lion/.cache/
05_TypeScript/catch_the_lion/node_modules/
05_TypeScript/node_modules/
05_TypeScript/practice/.cache/
05_TypeScript/practice/node_modules/
09_vue_react/9day/node_modules/
09_vue_react/9day/package.json
/.vscode/settings.json
04_JavaScript/.vscode/settings.json
10_layout/.vscode/settings.json
