/* COMMON */
* { box-sizing: border-box; line-height: 1; letter-spacing: -0.05em; } 
.body-container { font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 400; color: #333; box-sizing: border-box; } 
.blind { position: absolute; width: 1px; height: 1px; clip: rect(0 0 0 0); overflow: hidden; } 
/* BUTTON */
button { background: none; cursor: pointer; outline: none; border: 0; margin: 0; padding: 0; } 
.btn { border: 1px solid #d5d5d5; border-radius:3em; align-items: center; font-size: 14px; cursor: pointer; box-sizing: border-box; position: relative; color: #333; padding: 10px; white-space: nowrap; z-index: 1; } 
.btn:hover::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 
/* FLOAT CLEARFIX */
.clearfix::after { content: ''; display: block; clear: both; } 
.float--left { float: left; } 
.float--right { float: right; } 
/* SECTION & INNER */
.section { position: relative; } 
.section .inner { max-width: 1100px; margin: 0 auto; box-sizing:border-box; position: relative; } 
/* HEADER */
header { border-bottom: 1px solid rgba(0, 0, 0, .2); background: #fff; height: auto; } 
header .inner { max-width: 1100px; height: 78px; } 
header .menu-group { height: 100%; display: flex; align-items: center; } 
header .logo { margin-right: 10px; } 
header .logo a { display: block; width: 32px; height: 32px; background: url('../img/logo.svg'); text-indent: -9999px; } 
header .logo a:hover { background: url('../img/logo_on.svg'); } 
header .main-menu { display: flex; } 
header .main-menu li a { display: block; padding: 10px; color:#3c4146; } 
header .main-menu li a:hover { color: #4078c0; } 
header .sub-menu { display: flex; margin-right: 10px; } 
header .sub-menu li a { display: block; padding: 8px; font-size: 13px; color:#3c4146; } 
header .sub-menu li a:hover { color: #4078c0; } 
/* SECTION VISUAL */
.section--visual { background-color: #f1f1f1; } 
.section--visual .inner { padding: 510px 0 5px; background:#f1f1f1 url('../images/bg-visual.jpg') center no-repeat; background-size: cover; } 
.neo-points { width: 100%; position: relative; } 
.neo-points .point { float: left; text-align: center; } 
.neo-points .point:nth-child(2) { position: absolute; left: 50%; transform: translateX(-50%); } 
.neo-points .point:last-child { float: right; } 
.neo-points .point .point-txt { color: #5e5e5e; font-size: 26px; letter-spacing: -0.075em; } 
.neo-points .point .point-txt em { font-weight: 700; } 
.neo-points .point .txt-pink { color: #d84998; font-weight: 700; } 
.neo-points .point .point-icon { margin-top: 16px; } 
/* SECTION SEARCH */
.section--search { background-color: #d84998;} 
.section--search .inner { padding: 40px 215px 50px;  background:#f1f1f1 url('../images/bg-search-box.jpg') center no-repeat; background-size: cover;} 
.section--search .inner::after { content: ''; display: block; bottom: 14px; position: absolute; background: url("../images/ico-arrs-down.png") center no-repeat; left: 0; width: 100%; height: 26px; } 
.section--search .inner h2 { font-size: 38px; color: #fff; letter-spacing: -0.1em; } 
.section--search .inner h2 img {max-width: 100%;}
.dentist-type { padding: 0 40px; margin: 18px 0; } 
.dentist-type label { width: calc(100%/2 - 9px); cursor: pointer; font-weight: 500; position: relative; overflow: hidden; float: left; } 
.dentist-type label + label { margin-left: 18px; } 
.dentist-type label input { position: absolute; left: -9999px; } 
.dentist-type label input:checked+span .txt:before { background-color: #fff } 
.dentist-type label span { background-color: transparent; display: block; padding:7px 0px 7px 6px; border-radius: 20px; border: 2px solid #fff; color: #fff; } 
.dentist-type label span .txt { transition: 0.25s ease; position: relative; padding-left: 40px; font-size: 23px; letter-spacing: -0.075em; } 
.dentist-type label span .txt:before { position: absolute; top: 0; left: 0; content: ""; background-color: transparent; width: 26px; height: 26px; border-radius: 50%; transition: 0.25s ease; box-shadow: inset 0 0 0 5px #fff; } 

.saerch-wrap .input-search-wrap { position:relative; display:inline-block; width:calc(100% - 62px); border-top-left-radius:9px; border-bottom-left-radius:9px; padding: 11px 0 9px 20px; background-color: #fff; } 
.saerch-wrap .input-search-wrap .input-search { width:100%; height:38px; border:0; padding:0; font-size:15px; color:#555; text-align:left; background:transparent; outline: none; line-height: 38px; font-size: 22px; } 
.saerch-wrap .input-search-wrap .input-search::placeholder { opacity: 1; color: #bababa; font-size:22px; } 
.saerch-wrap .input-search-wrap .input-search:-ms-input-placeholder { color: #bababa; font-size:22px } 
.saerch-wrap .input-search-wrap .input-search::-ms-input-placeholder { color: #bababa; font-size:22px; } 
.saerch-wrap .btn-search { vertical-align: top; width: 58px; border: 2px solid #fff; border-top-right-radius: 9px; border-bottom-right-radius: 9px; padding: 11px 0 10px; } 
.saerch-wrap .btn-search:after { display: inline-block; content: ''; width: 25px; height: 33px; background: url("../images/ico-search.png") center no-repeat; vertical-align: top; } 

/* SECTION SEARCH-RESULT */
#map { width: 100%; height: 648px; margin-top: 23px; border-radius: 7px; border: 1px solid #aaa; position: relative; } 
.btn-position {position: absolute; bottom: 20px; left: 30px; font-size: 23px; padding: 18px 25px 18px 60px;background: rgb(216, 73, 152, 0.8) url("../images/ico-my-position.png") 8px center no-repeat; color: #fff;border: none;letter-spacing:-0.075em;} 
.icon-map {width: 65px; height: 100px;background: url("../images/ico_map-point.png") center no-repeat; text-align: center}
.icon-map .list-order {position:relative; top: -20px; font-size: 25px; color: #d84998; }
.view-list { text-align: center; padding: 20px 0; } 
.view-list span { padding:3px 52px 0 0; font-size: 28px; color: #d84998; background: url("../images/arr-down.png") right no-repeat; vertical-align: middle; } 
.dentist-list { border: 2px solid #d84998; border-left: none; border-right: none; padding: 23px 60px 13px 55px; } 
.dentist-list .item { border-bottom: 2px solid #dadada; color: #2b2b2b; display: table; padding-bottom: 16px; width: 100%; } 
.dentist-list .icon-map, .dentist-list .item-desc, .dentist-list .item-btn { display: table-cell; } 
.dentist-list .item + .item { margin-top: 17px; }
.dentist-list .icon-map .list-order {top: -4px; } 
.dentist-list .dentist-info { padding: 16px 0 0 30px; } 
.dentist-list .dentist-info .dentist-name { display: inline-block; font-size: 32px; font-weight: 700; } 
.dentist-list .dentist-info .btn-guide { width: 128px; padding:5px 0 4px; margin-left: 5px; border-radius: 4px; background-color: #8e8e8e; font-size: 20px; color: #fff; vertical-align: top; } 
.dentist-list .dentist-info .dentist-tel { margin-left: 6px; color: #8e8e8e; font-size:24px; } 
.dentist-list .dentist-info .dentist-address { margin-top: 12px; font-size:26px; } 
.dentist-list .item-btn { text-align: right; vertical-align: middle; } 
.item-btn .btn-veiw-map { width: 208px; padding: 24px 10px; border: 1px solid #D84998; color: #fff; background: #D84998; font-size: 25px; font-weight: 700; letter-spacing: -0.075em; } 
.pagination-wrap { margin-bottom: 360px; width: 100%; line-height: 1; border-radius: 4px; user-select: none; } 
.pagination { width: 844px; margin:0 auto; display: table; } 
.pagination .arr-wrap { width: 1px; font-size: 20px; text-align: center; } 
.pagination .arr-wrap + .arr-wrap {padding-left: 6px;}
.pagination .arrow { padding:20px 0; cursor: pointer; } 
.pagination .arrow img { display: block; } 
.pagination .col { display: table-cell; vertical-align: middle; } 
.pagination .pag-num { display: table; width: 100%; } 
.pagination .num { display: table-cell; position: relative; color: #8e8e8e; font-size: 30px; text-align: center; padding: 26px 25px; background-color: transparent; transition: 0.2s ease, 0.3s ease color; cursor: pointer; } 
.pagination .num:hover span, .pagination .num.current span { color: #d84998; } 
.pagination .num span { position: relative; z-index: 2; color: #8e8e8e; } 
.pagination .arr-right { transform: rotate(180deg); } 

/* FOOTER */
footer { background-color: #fefefe; } 
footer .inner { justify-content: space-between; border-top: 1px solid #6a6464; } 
footer .site_links { display: flex; } 
footer .site_links li + li { margin-left: 10px; } 
footer .site_links li { font-size: 12px; color: #767676; } 
footer .site_links li a { color: #4078c0; } 
footer .site_links li a:hover { text-decoration: underline; } 
footer .logo { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 24px; height: 24px; } 
footer .logo:hover svg { fill: #4078c0; } 
footer .company_info ul li { display: inline; border-right: 1px solid; padding-right: 10px; } 
footer .company_info ul li + li { margin-left: 4px; } 
footer .company_info ul li:last-child { border: 0; } 
footer .company_info .copyright { margin-top: 10px; } 
/* 패밀리사이트 */
.family-select { position:absolute; top:0; right:0; width:215px; } 
.family-select .select-btn { color:#666; font-weight:500; font-size:14px; text-align:left; padding:0 25px; display:block; width:100%; position: relative; } 
.family-select .select-btn .ico-plus { display: inline-block; vertical-align: middle; margin-bottom: 5px; } 
.family-select .select-btn .ico-plus::before { content: ''; position: absolute; width: 10px; height: 2px; background-color: #D84998; } 
.family-select .select-btn .ico-plus::after { content: ''; position: absolute; width: 10px; height: 2px; background-color: #D84998; -webkit-transform: rotate(90deg); transform: rotate(90deg); } 
.family-select .select-btn.on .ico-plus:before { -webkit-transform:rotate(-45deg); transform:rotate(-45deg); } 
.family-select .select-btn.on .ico-plus:after { -webkit-transform:rotate(45deg); transform:rotate(45deg); } 
.family-select .family-list-box { display:none; position:absolute; bottom:50px; left:0; width:100%; border:1px solid #ccc; background:#fff; padding:10px 0; z-index: 1; } 
.family-select .family-list-box.on { display:block } 
.family-list-box ul li { padding:6px 25px } 
.family-list-box ul li > a { display:block; color:#999 } 
.family-list-box ul li:hover { background: #F8F8F8; } 
.family-list-box ul li:hover > a { color:#333; font-weight:500; } 


 
 