/* Badge */
%is_border{
  border:1px solid;
  &.bg_primary {
    border-color: lighten($color-primary, 20);
  }
  &.bg_secondary {
    border-color: lighten($gray-700, 20);
  }
  &.bg_success,
  &.bg_green {
    border-color: lighten($color-green, 20);
  }
  &.bg_red,
  &.bg_danger {
    border-color: lighten($color-red, 20);
  }
  &.bg_warning,
  &.bg_yellow {
    border-color: lighten($color-yellow, 20);
  }
  &.bg_info {
    border-color: lighten($color-blue, 20);
  }
  &.bg_light {
    border-color: lighten($gray-50, 20);
  }
  &.bg_orange {
    border-color: lighten($color-orange, 20);
  }
  &.bg_olive {
    border-color: lighten($color-olive, 20);
  }
  &.bg_teal {
    border-color: lighten($color-teal, 20);
  }
  &.bg_blue {
    border-color: lighten($color-blue, 20);
  }
  &.bg_violet {
    border-color: lighten($color-violet, 20);
  }
  &.bg_purple {
    border-color: lighten($color-purple, 20);
  }
  &.bg_pink {
    border-color: lighten($color-pink, 20);
  }
  &.bg_brown {
    border-color: lighten($color-brown, 20);
  }
  &.bg_gray {
    border-color: lighten($gray-300, 20);
  }
  &.bg_dark,
  &.bg_black {
    border-color: lighten($gray-950, 20);
  }
}
.badge {
   @mixin badge {
      display: inline-flex;
      align-items: center;
      width: auto;
      height: 22px;
      padding: 0 $sp03;
      font-size: $fs-xxs;
      color: $color-white;
      text-align: center;
      border-radius: 4px;
   }
   @include badge;
   &.bg_light {
      color: $gray-700;
   }
   &.line {
      &_primary {
         color: $color-primary;
      }
      &_secondary {
         color: $gray-700;
      }
      &_success,
      &_green {
         color: $color-green;
      }
      &_red,
      &_danger {
         color: $color-red;
      }
      &_warning,
      &_yellow {
         color: $color-yellow;
      }
      &_info {
         color: $color-blue;
      }
      &_light {
         color: $gray-50;
      }
      &_orange {
         color: $color-orange;
      }
      &_olive {
         color: $color-olive;
      }
      &_teal {
         color: $color-teal;
      }
      &_blue {
         color: $color-blue;
      }
      &_violet {
         color: $color-violet;
      }
      &_purple {
         color: $color-purple;
      }
      &_pink {
         color: $color-pink;
      }
      &_brown {
         color: $color-brown;
      }
      &_gray {
         color: $gray-300;
      }
      &_dark,
      &_black {
         color: $gray-950;
      }
   }
  &.is_border{
    @extend %is_border;
  }
   &_round {
      @include badge;
      border-radius: 100px;
   }
   &_dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      &.is_border{
        @extend %is_border;
        border-width: 2px;
      }
   }
}

//Usage
button > .badge {
   margin-left: $sp03;
}
button > .badge_round {
   position: absolute;
   top: -20px;
   right: 0;
   transform: translate(50%, 50%);
}

button > .badge_dot,
i > .badge_dot {
   position: absolute;
   top: -5px;
   right: 0;
   transform: translate(50%, 50%);
}
button > .badge_round,
i > .badge_round {
   position: absolute;
   top: -20px;
   right: 0;
   transform: translate(50%, 50%);
}
.avatar {
   display: inline-block;
   position: relative;
   border:3px solid $gray-950;
   border-radius: 9999px;
   width: 3.2rem;
   height: 3.2rem;
   &.border_white{
    border:3px solid $color-white;
   }
   > img {
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: 100%;
      & + .badge_dot {
         position: absolute;
         top: -3px;
         right: 7px;
         transform: translate(50%, 50%);
         border: 1px solid $color-white;
      }
      & + .badge_round {
         position: absolute;
         top: -20px;
         right: 2px;
         transform: translate(50%, 50%);
      }
   }
}
