/* Button */
button {
   vertical-align: middle;
   border: 0;
   background: none;
   white-space: nowrap;
   outline: none;
   cursor: pointer;
}
.btn {
   display: inline-flex;
   align-items: center;
   overflow: visible;
   position: relative;
   min-height: 38px;
   margin: 0;
   padding: 8px 16px;
   font-size: $fs-xs;
   font-weight: $fw-m;
   letter-spacing: -0.49px;
   line-height: 1.4;
   vertical-align: middle;
   border: 0;
   border-radius: 4px;
   background: none;
   white-space: nowrap;
   outline: none;
   cursor: pointer;
   transition: background-color 0.3s ease-out 0s, border-color 0.3s ease-out 0s;
   &:not(.btn_icon) {
      i[class*="ico_"] {
         margin-right: 4px;
      }
   }
   //Size
   &_xl {
      min-height: 56px;
      padding: 14px 16px;
      font-size: $fs-sm;
      line-height: 1.44;
      letter-spacing: -0.63px;
      &.btn_icon {
         width: 56px;
         height: 56px;
         padding: $sp04;
      }
   }
   &_lg {
      min-height: 50px;
      padding: 12px 16px;
      font-size: $fs-s;
      line-height: 1.5;
      letter-spacing: -0.56px;
      &.btn_icon {
         width: 50px;
         height: 50px;
         padding: 0 $sp05;
      }
   }
   &_md {
      min-height: 44px;
      padding: 10px 16px;
      font-size: $fs-xs;
      line-height: 1.43;
      letter-spacing: -0.49px;
      &.btn_icon {
         width: 44px;
         height: 44px;
         padding: 6px;
      }
   }
   &_sm {
      min-height: 38px;
      padding: 8px 16px;
      font-size: $fs-xs;
      font-weight: 400;
      line-height: 1.4;
      letter-spacing: -0.49px;
      &.btn_icon {
         width: 38px;
         height: 38px;
         padding: $sp02;
      }
   }
   &_xs {
      min-height: 32px;
      padding: 6px 16px;
      font-size: $fs-xxs;
      font-weight: $fw-n;
      line-height: 1.5;
      letter-spacing: -0.42px;
   }

   //Color
   &_primary {
      color: $color-white !important;
      border: 1px solid $color-primary;
      background-color: $color-primary;
      &:hover {
         border-color: $color-primary-darken1;
         background-color: $color-primary-darken1;
      }
   }
   &_secondary {
      color: $color-white !important;
      border: 1px solid $gray-700;
      background-color: $gray-700;
      &:hover {
         border-color: $gray-950;
         background-color: $gray-950;
      }
   }
   &_normal {
      color: $gray-700 !important;
      border: 1px solid $gray-50;
      background-color: $gray-50;
      &:hover {
         border-color: $gray-100;
         background-color: $gray-100;
      }
   }
   &_border {
      color: $color-primary;
      border: 1px solid $color-primary;
      background-color: $color-white;
      &:hover {
         background-color: rgba($color-primary, 0.051);
      }     
   }
   &_green {
      color: $color-white !important;
      border: 1px solid $color-green;
      background-color: $color-green;
      &:hover {
         border-color: darken($color: $color-green, $amount: 5);
         background-color: darken($color: $color-green, $amount: 5);
      }
   }
   &_white {
      color: $gray-500 !important;
      border: 1px solid $color-white;
      background-color: $color-white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   }
   //disabled
   &_disabled {
      color: $gray-300 !important;
      border: 1px solid $gray-50;
      background-color: $gray-50;
      *[class*=ico_]{
         &::before {
            background-color: $gray-300 !important;
         }
      }
      &:hover{
         border: 1px solid $gray-50;
         background-color: $gray-50;
      }
      &.btn_border {
         border-color: $gray-100;
         background-color: transparent;
         &:hover {
            border-color: $gray-100;
            background-color: $color-white;
         }
      }
   }
   //radius
   &_radius {
      border-radius: 100px;
   }
   //아이콘만 있는 버튼
   &.btn_icon {
      justify-content: center;
      i {
         &[class*="ico_16"] {
            margin: $sp02;
         }
      }
   }
   //Button Group
   &_group {
      @include flexStart;
      button + button {
         margin-left: $sp03;
      }
   }
}