// 공통 변수 설정
@import '_variables';

// mixin 설정
@import '_mixin';

/* SelectBox */
.select_box {
   display: inline-block;
   position: relative;
   max-width: 100%;
   min-width: 360px;
   vertical-align: top;
   user-select: none;
   &_value {
      position: relative;
      @include trans($prop: all, $duration: 0.2s, $type: ease-out, $delay: 0s);
      height: 38px;
      padding: 8px $sp04;
      border: 1px solid $gray-100;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      > span {
         @include text-ellipsis;
         font-size: $fs-xs;
         line-height: 22px;
      }
      &.disabled {
         background-color: $color-disabled;
      }
      &::after {
         @include selectArrow;
      }
   }
   &_list {
      display: none;
      position: absolute;
      top: 42px;
      width: 100%;
      padding: 0;
      border: 1px solid $gray-100;
      border-radius: 4px;
      background: #fff;
      z-index: 10;
      &::before {
         content: "";
         display: block;
         position: absolute;
         width: 100%;
         height: 100%;
         box-shadow: 0 8px 8px 0 rgba(26, 24, 24, 0.05);
      }
      > ul {
         padding: 4px 0;
      }
      li:not(.list-group_opt) {
         position: relative;
         width: 100%;
         height: 38px;
         padding: 0px $sp04;
         line-height: 38px;
         border: none;
         @include trans($prop: all, $duration: 0.2s, $type: ease-out, $delay: 0s);
         outline: none;
         cursor: pointer;
         > span {
            @include text-ellipsis;
            height: 100%;
            font-size: $fs-xs;
            color: $gray-950;
         }
         &:hover {
            background-color: $gray-50;
            span {
               font-weight: $fw-m;
            }
         }
      }
      &.list-group {
         .list_tit {
            height: 36px;
            padding: $sp03 $sp04 $sp03;
            font-size: $fs-xs;
            font-weight: $fw-m;
         }
         > ul > li {
            height: auto;
         }
         .list-group_opt {
            > ul > li {
               position: relative;
               height: 38px;
               padding: 0px $sp04 0px 23px;
               line-height: 38px;
               border: none;
               @include trans($prop: all, $duration: 0.2s, $type: ease-out, $delay: 0s);
               outline: none;
            }
            & + li {
               margin-top: $sp03;
               padding-top: $sp03;
               border-top: 1px solid $gray-50;
            }
         }
      }
   }
   &.on {
      .select_box_list {
         display: block;
      }
      .select_box_value {
         border-color: $color-primary;
         &::after {
            transform: translateY(-50%) rotate(180deg);
         }
      }
   }
   &.disabled {
      .select_box_value {
         background-color: $color-disabled;
         span {
            color: $gray-300;
         }
      }
      .select_box_list {
         display: none;
      }
      &.on {
         .select_box_value {
            border-color: #dbdbdb;
            &::after {
               transform: translateY(-50%) rotate(0);
            }
         }
      }
   }
   //Overflow Menu
   &.overflow_menu {
      .select_box_value {
         width: 34px;
         height: 34px;
         padding: 5px;
         background-position: center;
         background-repeat: no-repeat;
         &::after {
            position: static;
            transform: translate(0);
            width: 100%;
            height: 100%;
            @include iconImgPath("ico_over_menu.svg");
         }
      }
      &.on {
         .select_box_value {
           &::after{
            background-color: $color-primary !important;
           }
         }
      }
   }
}

/* Table SelectBox */
.tbl_select_box {
   background-color: $color-white;
   &.disabled {
      background-color: $color-disabled !important;
   }
   &.on {
      .select_box_arr {
         &::after {
            transform: translateY(-50%) rotate(180deg);
         }
      }
   }
   .select_box_value {
      width: 100%;
      padding-right: 36px;
      &:disabled {
         background-color: $color-disabled !important;
      }
   }
   .select_box_arr {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &::after {
         content: "";
         display: block;
         position: absolute;
         top: 50%;
         right: 12px;
         transform: translateY(-50%) rotate(0);
         width: 16px;
         height: 16px;
         @include iconImgPath("ico_select_down.svg");
      }
   }
}
select {
   min-width: 80px;
   font-family: $font-SUIT;
   color: gray !important;
   background-color: transparent !important;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   cursor: pointer;
}
