/*** common ***/
$sectionGap: 9rem 0 4rem;
em{
  font-weight: $fw-b;
}
img{
  display: inline-block;
  width: 100%;
}
.list_box{
  .icon{
    width: 52px;
    height: 52px;
    border-radius: 16px;
    border: 1px solid;
  }
}
.btn.btn_radius{
  & + .btn_radius{
    margin-left: 0.5rem;
  }
  & > .ico_chev_right{
    margin: 0;
    margin-left: 8px;
  }
}
.marquee {
  $marqueeGap: $sp10;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: $marqueeGap;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  &_group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: $marqueeGap;
    min-width: 100%;
    //animation: marquee-x 20s linear infinite;
    @media (prefers-reduced-motion: reduce) {//유저 OS의 동작 줄이기 설정으로 애니메이션을 컨트롤
      animation-play-state: paused;
    }
    & > div{
      height: auto;
      font-size:$fs-l;
    }
  }
}
.round_box{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 7px 0px inset;
  border-radius: 3rem;
}
@keyframes marquee-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 12px));
  }
}

/*** 메인 공통 ui ***/
.page_main {
  h2{
    text-align: center;
    @include res--mobile{
      text-align: left;
    }
  }
  .btn_radius{
    @include res--mobile{
      align-self: start;
    }
  }
  .speaker{
    display: flex;
    align-items: center;
    gap: $defaultGap;
    grid-row: auto;
    .avatar{
      width: 6rem;
      height: 6rem;    
    }
    .info{
      display: flex;
      flex-direction: column;
      gap:$sp02;
      svg{
        width: 1.6rem; 
        height: 1.6rem; 
        fill: #333;
      }
    }
  }
}

/*** section ***/
section {
  //border: 1px solid red;  
  .inner{
    padding: $sectionGap;
    //border: 1px solid green;
  }
  .sec_tit{
    margin-bottom: $defaultGap;
  }
  .sec_desc{
    margin-bottom: $defaultGap;
  }
}

.sec {
  //sec_marquee
  &_marquee {
    .inner{
      position: relative;
      padding-top: 6.25rem;
    }
    .marquee{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
    }
  }
  //sec_visual
  &_visual{
    h2{
      text-align: left;
    }
    .avatar{
      margin-left: -1.2rem;
      &:first-child{
        margin-left: 0;
      }
      &_cnt{
        font-weight: $fw-b;
        font-size: $fs-xxs;
      }
    }
    .slide_name{
      max-height: 2rem;
      overflow: hidden;
      li{
        position: relative;
        top: -20px;
      }
    }
  }
  //sec_suggestion
  &_suggestion{
    .inner{
      height: auto;
    }
    
    .suggestion{
      &_desc{
        gap: $sp10;
        .img_area{
          margin-top: auto;
        }
        
      }
      &_list{
        border-top: 1px solid $color-border;
        .icon_square{
          border-color:$color-border;
          flex: none;
        }
        .flex_box{
          gap: $defaultGap;
          margin-bottom: $defaultGap;
          .tit{
            line-height: 1.3;
            letter-spacing:-0.5px;
          }
        }
      }
    }
  }
  //sec_potential
  &_potential{
    &_cont{
      .grid_box{
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        //grid-template-columns: minmax(300px, 500px) minmax(300px, 1fr);
        grid-auto-flow: row;
        padding: 5rem 5rem 0;      
        grid-gap: 10rem;
        & + .grid_box{
          margin-top: 6rem;
        }
      }
      .text_wrap{
        h4{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          em{
            flex:none;
            color: $color-primary;
            opacity: .7;
            &::after{
              content: '///';
              display: inline-block;
              padding: 0 2rem;
              opacity: .7;
            }
          }
          span{
            flex:auto;
          } 
        }
        p{
          margin-top: 1rem;
        }
      }
      .img_wrap{
        position: relative;
        .img_ani{
          position: absolute;
          top: 0;
          left: 0;
          animation: imgAni01 3s forwards;
        }       
      }
    }
  }
  @keyframes imgAni01 {
    from{
      left: 0;
    }
    to{
      left:48%;
    }
  }
  //sec_work
  &_work{
    width: 100%;
    .grid_box{
      grid-template-columns: repeat(3, 4fr);
      grid-template-rows: 1fr;
      @include res--mobile{
        grid-template-columns: 12fr;
        row-gap: $sp10;
      }
    }
    .inner{
      position: relative;
    }
    &_tit{
      text-align: center;
      &.grid_item{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }   
      @include res--mobile{
        text-align: left;
        &.grid_item{
          grid-column: span 1;
          grid-row: auto;
      }
      }
    }
    &_imgs{
      display: flex;
      justify-content: space-between;
      &.grid_item{
        grid-column: 1 / 4;
        grid-row: 1 / 2;
      }      
      img{
        width: 33.3333%;
      }
      @include res--mobile{
        &.grid_item{
          grid-column: span 1;
          grid-row: auto;
        }
        img{
          width: 100%;
          &:first-child{
            display: none;
          }
        }
      }
    }
    &_msg{
      flex-direction: column;
      align-items: center;
      margin-top: $sp10;
      .msg{
        color:$color-primary;
        margin-bottom: $sp10;
        font: {
          size: $fs-xlg;
          weight: $fw-b;
        };
      }
      @include res--tablet {
        align-items: flex-start;
      }
    }
  }
  //sec_fit
  &_needs{
    .needs_list{
      & > li{
        padding: $sp09;
        .tit, .desc{
          margin-bottom: $defaultGap;
        } 
        .price, .merit{
          margin-bottom: $sp07;
        }
        .flex_box{
          gap: $defaultGap;
        }
      }
      .price{
        display: flex;
        align-items: center;
        em{
          font-size: $fs-lg;
        }
      }
      .badge_dot{
        margin-right: 4px;
      }
    }
    .merit{
      li{
        display: flex;
        align-items: center;
        gap: $defaultGap;
        margin-bottom: $sp06;
        &:before {
          content: '';
          display: inline-block;
          width: 1.4rem;
          height: 1.4rem;
          border-radius: 999px;
          background: $gray-600 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='ico_24_chevron_down' transform='translate(-236 -252)'%3E%3Cpath id='base' d='M0,0H24V24H0Z' transform='translate(260 276) rotate(180)' fill='none' opacity='0'/%3E%3Cpath id='path' d='M15.84,0,9.32,6.52a1.986,1.986,0,0,1-2.8,0L0,0' transform='translate(240.08 260.95)' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/g%3E%3C/svg%3E") center/70% no-repeat;
        }        
      }
      &.is_color{
        li{
          &:before {
            background-color: $color-primary;
          }
        }
      }
    }
  }
  //sec_faq
  &_faq {
    .inner{
      padding: 5rem 0;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      grid-gap: $gridGap-3;
      @media all and (max-width:768px){
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    &_list{
      grid-column: span 2 / span 2;
      grid-auto-flow: row;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-gap: $gridGap-3;
      @media all and (max-width:768px){
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
  //sec_level
  &_level{
    .inner{
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: $sectionGap;
      padding-bottom: 12rem;
      text-align: center;
      @include res--tablet {
        align-items: flex-start;
        text-align: left;
      }
    }
  }
}