@charset "utf-8";

@font-face {
  font-family: "nuckle";
  font-style: normal;
  font-weight: 300;
  src: url("./../../fonts/Nuckle-Regular.woff2") format("woff2"),
}
@font-face {
  font-family: "nuckle";
  font-style: normal;
  font-weight: 400;
  src: url("./../../fonts/Nuckle-Medium.woff2") format("woff2"),
}
@font-face {
  font-family: "nuckle";
  font-style: normal;
  font-weight: 700;
  src: url("./../../fonts/Nuckle-Bold.woff2") format("woff2"),
}
