@font-face {
  font-family: "nuckle";
  font-style: normal;
  font-weight: 300;
  src: url("./../../fonts/Nuckle-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "nuckle";
  font-style: normal;
  font-weight: 400;
  src: url("./../../fonts/Nuckle-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "nuckle";
  font-style: normal;
  font-weight: 700;
  src: url("./../../fonts/Nuckle-Bold.woff2") format("woff2");
}
html {
  font-size: 100%;
  font-family: "nuckle";
  font-weight: 400;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
}
nav > ul {
  height: 100%;
}
nav li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}
nav .logo {
  width: 315px;
  text-align: center;
}
nav .logo img {
  display: inline-block;
  max-width: 200px;
}
nav .gnb {
  display: flex;
  justify-content: space-around;
}
nav .nav__ect {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}
nav .nav__ect li {
  padding: 0 2.75rem;
}
nav.white {
  border-bottom: 1px solid #e7e7e7;
  color: #333;
}
nav.white li {
  border-right: 1px solid #e7e7e7;
}
nav.white .gnb li:first-child {
  border-left: 1px solid #e7e7e7;
}
nav.white .nav__ect li:first-child {
  border-left: 1px solid #e7e7e7;
}
nav.white .nav__ect li:last-child {
  border-right: none;
}

/* FLOAT CLEARFIX  */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.btn-more {
  cursor: pointer;
  width: 565px;
  height: 160px;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
}
.btn-more__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  border-right: 1px solid #eee;
  padding: 0 0 0 55px;
  overflow: hidden;
  z-index: 1;
}
.btn-more__text span {
  font-size: 1rem;
  color: #a1a2a1;
}
.btn-more__text p {
  font-size: 1.75rem;
  margin-top: 0.75rem;
}
.btn-more__icon {
  width: calc(100% - 450px);
  position: relative;
}
.btn-more__icon .ic_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.btn-more__icon .ic_wrap span svg {
  width: 1.25rem;
}
.btn-more__icon .ic_wrap.hv {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 2px;
  border-radius: 0 1rem 1rem 0;
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
}
.btn-more__icon .ic_wrap.hv .path__arrow-right {
  fill: #fff;
}
.btn-more:hover .ic_wrap.hv {
  right: 0px;
  transform: translateX(0%);
}
.btn-more.white {
  background-color: #fff;
}
.btn-more.white .btn-more__text {
  color: #333;
  background-color: #fff;
}
.btn-more.white .btn-more__icon .ic_wrap .path__arrow-right {
  fill: #000;
}
.btn-more.white .btn-more__icon .ic_wrap.hv {
  background-color: #000;
}
.btn-more.white .btn-more__icon .ic_wrap.hv .path__arrow-right {
  fill: #fff;
}
.btn-more.gray-dark {
  background-color: #333;
}
.btn-more.gray-dark .btn-more__text {
  color: #fff;
  background-color: #333;
}
.btn-more.gray-dark .btn-more__icon .ic_wrap .path__arrow-right {
  fill: #fff;
}
.btn-more.gray-dark .btn-more__icon .ic_wrap.hv {
  background-color: #000;
  opacity: 0.5;
}

.section {
  width: 100%;
}
.section .inner {
  width: 1810px;
  padding: 0 60px;
  margin: 0 auto;
  position: relative;
}
@media all and (max-width: 1810px) {
  .section .inner {
    width: 100%;
  }
}
.section .wording {
  font-size: 5rem;
}

.section__for .title--sm {
  font-size: 1.2rem;
}
.section__for .title--lg {
  font-size: 6rem;
}
.section__for .collect_wrap .collect_item {
  float: left;
  width: calc(50% - 35px);
  height: auto;
  overflow: hidden;
  border: 0px solid #fff;
}
.section__for .collect_wrap .collect_item .item {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 800ms cubic-bezier(0.34, 1.02, 0.68, 1);
}
.section__for .collect_wrap .collect_item .item__txt {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  z-index: 1;
}
.section__for .collect_wrap .collect_item .item__txt > p {
  opacity: 0;
  transition: all 500ms cubic-bezier(0.34, 1.02, 0.68, 1);
  font-size: 1.5rem;
  text-align: center;
  flex-grow: 1;
}
.section__for .collect_wrap .collect_item .item__img_wrap {
  transition: all 800ms cubic-bezier(0.34, 1.02, 0.68, 1);
  width: 100%;
  background: transparent center no-repeat;
  background-size: cover;
  padding-top: 128.8%;
}
.section__for .collect_wrap .collect_item .item__btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.section__for .collect_wrap .collect_item .item__btn .btn-more {
  transition: transform 300ms cubic-bezier(0.34, 1.02, 0.68, 1);
}
.section__for .collect_wrap .collect_item:first-child {
  margin-right: 70px;
}
.section__for .collect_wrap .collect_item:last-child {
  width: 100%;
}
.section__for .collect_wrap .collect_item:hover .item {
  transform: scale(0.9);
}
.section__for .collect_wrap .collect_item:hover .item__txt > p {
  opacity: 1;
}
.section__for .collect_wrap .collect_item:hover .item__img_wrap {
  transform: scale(1.2);
}
.section__for .collect_wrap .collect_item:hover .item__btn .btn-more {
  transform: translate(0, 101%);
}